<div id="siteHeader" class="container" style="padding-top:0px;">
	<div class="row">
		<div class="three columns">		
           <h1>
           <a href="http://dminc.com/" Target="_blank">
            <img alt="DMI" src="~/Content/images/logo.png" /></a>
            </h1>
		</div>
		<div class="six columns">
        <h2 style="margin-top:30px;text-align: center;"> Indexing & Searching </h2>
			@*<ul class="nav-bar">
				<li><a href="#showcase" class="main">Menu 1</a></li>
				<li><a href="#features" class="main">Menu 2</a></li>
				<li><a href="#benefits" class="main">Menu 3</a></li>
				<li><a href="#media" class="main">Menu 4</a></li>
			</ul>*@
             
		</div>
        <div class="three columns">
		    <h1>
             <a href="http://www.novartis.com/" Target="_blank">
            <img alt="DMI" src="~/Content/images/novartis.gif" /></a>
            </h1>
		</div>
       
	</div>
</div>